.home {
    display: flex !important;
    justify-content: space-around;
    gap: 10px;
    flex-flow: row wrap;
    align-items: center;
    min-height: 80vh;
}
.home img{
   object-fit: contain;
   overflow: hidden;
   
}
.home .home-content {
    width:500px;
}
.home-content h3{
    font-weight: 500;
    padding: 10px;
}
.home-content p{
    text-align: justify;
    padding: 10px 20px;
    color: gray;
}


@media (max-width:500px) {
    
    .home-content h3 {
        font-size: 25px;
    }

    .home-content p {
        font-size: 14px;
    }
}