@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
p{
    text-align: justify;
    color: gray;
}
a {
    text-decoration: none;
    color: inherit;
}
img{
    object-fit: contain;
   overflow: hidden;
}
section{
    display: flex !important;
    justify-content: space-around;
    gap: 15px;
    flex-flow: row wrap;
    align-items: center;
    min-height: 80vh;
}
@media (min-width:500px) {
    html {
        font-size: 14px !important;
    }
}